/*Responsive Design: for tablets*/
/*set up the style of projects gallery page and profile page*/
@media only screen and (max-width: 414px) and (min-height: 710px){

    /* set up default elements for all webpage */

    body {
        font-family: Roboto,Arial,Helvetica,sans-serif;
    }

    p {
        font-size: 11px;
    }

    /*adjust the style of hyper-linl*/
    /*source: https://www.w3schools.com/css/css_link.asp*/
    a {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
    }




    /* set up header*/
    .header{
        position:fixed;
        background-color: white;
        min-width: 100%;
        margin-top: -10px;
        z-index: 2;
    }

    .logo {
        width: 20px;
        margin: 10px;
    }

    .navigator-and-logo{
        display:flex;
        justify-content: flex-end;
        /*this part enables navigator bar to line up with the right margin of the page*/
        flex-grow: 1;
        flex-grow: 1;
        /*make sure the logo and the text is in the center*/
        align-items: center;
        height: 30px;
        margin-top: 5px;
    }

    .navigator {
        /*this part makes sure that logo goes to left margin and navigator goes to right margin*/
        /*with out it, the logo would go too close to navigator*/
        flex-grow: 1;
        text-align: center;
        display: flex;
        justify-content: flex-end;
    }

    /*making sure that the correct of navigator is being highlighted*/
    /*source: https://www.computerhope.com/issues/ch001391.htm*/
    /*use javascript to fix this part later: https://www.youtube.com/watch?v=mP2LnkOqLHk*/

    .navigator a:hover{
        font-weight:600;
        color:gray
    }

    .navigator a.active {
        font-weight:600;
    }

    .navigator-element {
        margin: 10px 30px 10px 30px;
    }



    /* setup the contact information*/

    /*apply to the page that the user do not need to scroll, make sure the contact information is at the bottom of the page*/
    .contact-information{
        background-color: lightgray;
        padding: 20px 20px 40px 20px;
        padding-left: 5%;
        margin-top: 30px;
        bottom: 0px;
        position: relative;
        right:0px;
        left: 0px;
    }

    .contact-information-bottom{
        background-color: lightgray;
        padding: 20px 20px 40px 20px;
        padding-left: 5%;
        margin-top: 30px;
        bottom: 0px;
        position: absolute;
        right:0px;
        left: 0px;
    }

    /* make sure the sub-section is lineup properly*/
    .contact-information-sub-section{
        display: flex;
        align-items: center;
        height: 30px;
        
    }

    /* use the underline to indicate the texts are clickable*/
    .contact-text{
        text-decoration: underline;
        margin-left: 10px;
        font-size:11px;
    }

    /*give the contact me title some specific style*/
    #contact-me{
        font-weight: 600
    }

    h1{
        font-size: 20px;
        font-weight: 500;
    }

    /*the style of title*/

    /*apply to titles on project gallery and about-me page*/
    .title{
        text-align: left;
        /*control the spacing between title and navigator*/
        margin-bottom: 10px;
        /* make sure the title line-up with the content*/
        margin-left: -70px;
        margin-top: 5px;
    }


    .title-on-gallery{
        text-align: left;
        margin-left: -70px;
        /*control the spacing between title and navigator*/
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .title p{
        font-size: 20px;
    }



    /*the style of the gallery page starts here*/

    /*define the title of the notable project*/
    .project-title-on-gallery-notable{
        font-size: 15px;
        color: black;
    }

    /*define the title of the notable project*/
    .project-title-on-gallery {
        /* the font size is a bit smaller than the notable project to emphasis hiearchy*/
        font-size: 12px;
    }

    /*define the height of the white-box, make sure the navigation bar and the main content do not overlap*/
    .white-box{
        height: 50px;
    }

    /*define the width of other projects, let the width be smaller than the notable project to empahsis hiearchy*/
    .projects{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }

     /*define theh style of the container that contain everything of the notable project*/
    .thumbnail-container-notable-project{
        height: 190px;
        position: relative;
    }

    /*define the image container size */
    .notable-project{
        /*control the distance between notable project and other projects*/
        z-index: -1;
        width:100%;
        object-fit: cover;
        object-position: 0 70%;
        height: 180px;
        overflow: hidden;
    }

    /* define the notable image size */
    .notable-project img{
        width:100%;
        object-fit: cover;
        object-position: 0 70%;
        height: 180px;
    }

    /*those div doesn't overlay anymore, now they are the regular container of the project titles*/
    .overlay-notable{
        background-color: white;
        width: 100%;
        height: 30px;
        z-index: 1;
        position: absolute;
        text-align: center;
    }

    .overlay-bigger{
        background-color: white;
        width: calc(100% - 100px);
        height: 20px;
        text-align: center;
        position: absolute;
    }

    .overlay-smaller{
        background-color: white;
        width: calc(100% - 100px);
        height: 20px;
        text-align: center;
        position: absolute;
    }


    .information-on-gallery{
        text-align: center;
    }

    .information-on-gallery h2, h4{
        font-weight: 500;
    }

    /*define the margin between the project image and project title*/
    .project-title-on-gallery{
        margin-top: 5px;
    }

    /*only display the project title, not the project year*/
    .project-title-on-gallery-large-only{
        display: none;
    }

    .bigger-item-container{
        overflow: hidden;
        margin: 35px 15px 25px 15px;
        height:200px;
    }

    .bigger-item{
        width:100%;
        object-fit: cover;
        object-position: 0 70%;
        overflow: hidden;
        height: 200px;
        border-radius: 10px;
    }

    .bigger-item img{
        margin: auto;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        min-height: 200px;
    }

    .smaller-item-container{
        height: 200px;
        overflow: hidden;
        margin: 35px 15px 25px 15px;
    }

    .smaller-item{
        width:100%;
        object-fit: cover;
        object-position: 50% 20%;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
    }

    .smaller-item img{
        margin: auto;
        object-fit: cover;
        object-position: 50% 20%;
        width: 100%;
        min-height: 200px;
    }




    /*style for About-me starts here*/

    /*define the style of the container that contain the profile image, the introduction text, and the link to portfolio and resume*/
    .my-information{
        width:100%;
        margin:auto;
    }

    /*define the style of the profile image*/
    #profile-image{
        width:300px;
        height:300px;
        object-fit: cover;
        object-position: 50% 50%;
        margin-left: calc(50% - 150px);
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    /*define the style of the introduction paragraph*/
    #introduction{
        /*adjust the margin*/
        width: 90%;
        margin: auto;
    }

    .resume-and-portfolio{
        /*make sure the link to resume and profile are underlined to indicate that the link is active*/
        text-decoration: underline;
        text-align: center;
    }

    .self-introduction{
        margin-bottom: 20px;
    }

}