/*Responsive Design: for tablets*/
/*set up the style of projects gallery page and profile page*/
@media only screen and (min-width: 415px) and (min-height: 710px){

    /* set up default elements for all webpage */

    body {
        font-family: Roboto,Arial,Helvetica,sans-serif;
    }

    p {
        font-size: 18px;
    }

    /*adjust the style of hyper-linl*/
    /*source: https://www.w3schools.com/css/css_link.asp*/
    a {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
    }



    /* set up header*/

    .header{
        position:fixed;
        background-color: white;
        min-width: 100%;
        margin-top: -10px;
        z-index: 2;
    }

    .logo {
        width: 50px;
        margin: 8px 20px 8px 20px;
    }

    .navigator-and-logo{
        display:flex;
        justify-content: flex-end;
        /*this part enables navigator bar to line up with the right margin of the page*/
        flex-grow: 1;
        flex-grow: 1;
        /*make sure the logo and the text is in the center*/
        align-items: center;
        height: 70px;
    }

    .navigator {
        /*this part makes sure that logo goes to left margin and navigator goes to right margin*/
        /*with out it, the logo would go too close to navigator*/
        flex-grow: 1;
        text-align: center;
        display: flex;
        justify-content: flex-end;
    }

    /*making sure that the correct of navigator is being highlighted*/
    /*source: https://www.computerhope.com/issues/ch001391.htm*/
    .navigator a:hover{
        font-weight:600;
        color:gray
    }

    .navigator a.active {
        font-weight:600;
    }

    .navigator-element {
        margin: 30px 50px 30px 50px;
    }

    /* setup the contact information*/

    .contact-information{
        background-color: lightgray;
        padding: 20px 20px 50px 20px;
        padding-left: 5%;
        margin-top: 30px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    .contact-information-bottom{
        background-color: lightgray;
        padding: 20px 20px 40px 20px;
        padding-left: 5%;
        margin-top: 30px;
        bottom: 0px;
        position: absolute;
        right:0px;
        left: 0px;
    }

    /*apply to the pages where on labtop the user need to scroll down to see the whole page, but on mobile device the users do not*/
    #contact-information-bottom-exception{
            position: relative;
    }

    /*apply to the page that the user do not need to scroll, make sure the contact information is at the bottom of the page*/
    .contact-information-bottom{
        background-color: lightgray;
        padding: 20px 20px 50px 20px;
        padding-left: 5%;
        margin-top: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    /* make sure the sub-section is lineup properly*/
    .contact-information-sub-section{
        display: flex;
        align-items: center;
        height: 30px;
        
    }

    /* use the underline to indicate the texts are clickable*/
    .contact-text{
        text-decoration: underline;
        font-size: 18px;
        margin-left: 10px;
    }

    /*give the contact me title some specific style*/
    #contact-me{
        font-weight: 600
    }



    /*the style of title*/

    /*apply to titles on project detail and about-me page*/

    h1{
        font-size: 28px;
        font-weight: 500;
    }

    .title{
        width:60%;
        font-size: 28px;
        /*control the spacing between title and navigator*/
        margin-top: 10px;
        /* make sure the title line-up with the content*/
        margin-left: calc(20% - 140px);
        margin-bottom: 10px;
        padding-left: 0px;
        border-left: 0px;
        text-align: left;
    }

    /*apply to titles on project gallery and about-me page*/
    .title-on-gallery{
        width:100%;
        font-size: 28px;
        /*control the spacing between title and navigator*/
        margin-bottom: 15px;
        text-align: left;
        /*center the title*/
        text-align: center;
    }



    /*the style of the gallery page starts here*/

    .thumbnail-container-notable-project{
        height: 425px;
        position: relative;
    }

    /*define the height of the white-box to make sure the navigation bar and the page content wouldn't overlap*/
    .white-box-on-gallery{
        height: 60px;
    }

    .projects{
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .row{
        height:460px;
        display: flex;
        justify-content: space-evenly;
    }

    .notable-project{
        /*control the distance between notable project and other projects*/
        margin-bottom: 50px;
        position: absolute;
        /*let the notable project image go at the bottoms when overlap happening*/
        z-index: -1;
        width:100%;
        object-fit: cover;
        object-position: 0 70%;
        height: 400px;
    }

    /*define the style of the notable-project img*/
    .notable-project img{
        width:100%;
        object-fit: cover;
        object-position: 0 70%;
        height: 400px;
    }

    /*define style of the white-box overlaying on the notable project image*/
    .overlay-notable{
        background-color: white;
        /*not display unless hovering*/
        opacity: 0;
        width: calc(100% - 600px);
        margin: 50px 300px 50px 300px;
        height: 300px;
        /*go on top while overlaping*/
        z-index: 1;
        position: absolute;
    }

    /*while hovering on the notable project, the white box contains information will show up*/
    .thumbnail-container-notable-project:hover .overlay-notable{
        background-color:white;
        opacity: 0.7;
        width: calc(100% - 600px);
        height: 300px;
        margin: 50px 300px 50px 300px;
        z-index: 1;
        position: absolute;
        transition-duration: 0.1s
    }

    /*define style of the white-box overlaying on the bigger project image*/
    .overlay-bigger{
        background-color: white;
        /*not display unless hovering*/
        opacity: 0;
        width: calc(100% - 100px);
        margin: 50px;
        height: 300px;
        /*go on top while overlaping*/
        z-index: 1;
        position: absolute;
        text-align: center;
    }

    /*while hovering on the project, the white box contains information will show up*/
    .bigger-item-container:hover .overlay-bigger{
        background-color: white;
        opacity: 0.7;
        width: calc(100% - 100px);
        margin: 50px;
        height: 300px;
        z-index: 1;
        position: absolute;
        text-align: center;
    }

    /*define style of the white-box overlaying on the smaller project image*/
    .overlay-smaller{
        background-color: white;
        opacity: 0;
        width: calc(100% - 100px);
        margin: 50px;
        height: 300px;
        z-index: 1;
        position: absolute;
        text-align: center;
    }

    /*while hovering on the project, the white box contains information will show up*/
    .smaller-item-container:hover .overlay-smaller{
        background-color: white;
        opacity: 0.7;
        width: calc(100% - 100px);
        margin: 50px;
        height: 300px;
        z-index: 1;
        position: absolute;
        text-align: center;
    }

    /*define the style of project information in white box*/
    .information-on-gallery{
        text-align: center;
        margin-top: 100px;
    }

    /*define the project title font size*/
    .project-title-on-gallery{
        font-size: 28px;
        font-weight: 500;
    }

    /*define the font size of the year*/
    .project-title-on-gallery-large-only{
        font-size: 24px;
        font-weight: 500;
    }

    /*define the size of bigger item container to add hiearchy to the page*/
    .bigger-item-container{
        width: 60%;
        overflow: hidden;
        margin: 25px 15px 25px 15px;
        position:relative
    }

    /*define the container for the bigger item image*/
    .bigger-item{
        margin-bottom: 50px;
        position: absolute;
        /*make sure it is at the bottom when overlay*/
        z-index: -1;
        height: 400px;
    }

    /*define the style of bigger item image*/
    .bigger-item img{
        margin: auto;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
    }

    /*define the size of bigger item container to add hiearchy to the page*/
    .smaller-item-container{
        width: 40%;
        overflow: hidden;
        margin: 25px 15px 25px 15px;
        position: relative
    }

    /*define the container for the smaller item image*/
    .smaller-item{
        margin-bottom: 50px;
        position: absolute;
        /*make sure it is at the bottom when overlay*/
        z-index: -1;
        height: 400px;
    }

    /*define the style of bigger item image*/
    .smaller-item img{
        margin: auto;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        /*add this part here because some smaller-item image has a width way larger than the height*/
        /*make sure the image fully occupied the container*/
        min-height: 100%;
    }

    /*define the height of the white box to avoid the main content overlap the navigation bar*/
    .white-box{
        height: 120px;
    }



    /*style for About-me starts here*/

    /* the container that contain the profile picture, the self-introduction text, and the link to resume and portfolio*/
    .my-information{
        width:60%;
        margin:auto;
        display:flex;
        align-items: flex-end;
    }

    #profile-image{
        width:600px;
        height:600px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    #introduction{
        /*define the margin between the self-introduction text and the profile image*/
        margin-left: 30px;
    }

    .resume-and-portfolio{
        /*make the link to resume and portfolio underline  to indicate that here is an active link*/
        text-decoration: underline;
    }
}